@font-face {
    font-family: "Spincycle";
    src: url("./fonts/spincycle_ot.otf") format("truetype");
  }

@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro2";
    src: url("./fonts/SourceSansPro-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro3";
    src: url("./fonts/SourceSansPro-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro4";
    src: url("./fonts/SourceSansPro-Light.otf") format("truetype");
}
  
  /* Additional font styles if needed */
  
  .nav .nav-items:first-child a {
    font-family: "Spincycle", sans-serif;
  }

  .nav .nav-items:nth-child(2) a,
  .nav .nav-items:nth-child(3) a,
  .nav .nav-items:nth-child(4) a{
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .text h2 {
    font-family: "Source Sans Pro2", sans-serif;
  }

  .text .para1 {
    font-family: "Source Sans Pro2", sans-serif;
  }

  button{
    font-family: "Source Sans Pro3", sans-serif;
  }

  .text .para2 {
    font-family: "Source Sans Pro4", sans-serif;
  }