body {
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    position: relative;
}

header .header_logo{
    display: flex;
    margin-left: 200px;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    flex-direction: row;

}

.text {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
}

.nav {
    display: flex;
    border: 0px solid black;
    width: 1550px;
    list-style: none;
    justify-content: flex-start;
    gap: 50px;
}


.nav-item {
    display: flex;
    flex-grow: 100;
    border: 0px solid yellow;
}

.nav-item :first-child{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}


button {
    padding: 10px;
    border-radius: 100px;
    background-color: orangered;
    color: white;
}

